<div class="container">
  <p></p>
  <p></p>
  <p></p>
  <p></p>
  <div class="container2" style="background-color: #2c373b">
    <div class="container2">
      <div class="score-card">
        <div class="score-board">
          <h1>Score</h1>
          <h3>{{ comida?.puntajeActual }}</h3>
        </div>
        <div class="restart-button" (click)="restartGame()">
          RESTART
        </div>
      </div>
      <div class="game-over" *ngIf="juegoTerminado">
        <h1>Game Over</h1>
      </div>
      <div class="game-board"></div>
    </div>
  </div>
</div>
