<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mi Biografía</title>
</head>
<body>
<section class="vh-100 gradient-custom d-flex justify-content-center align-items-center">
  <div class="card bg-dark text-white" style="border-radius: 1rem;">
    <div class="card-body p-5 text-center">
      <div class="text-center">
        <img class="profile-image" src="assets/img/fotoPerfil.jpeg" alt="Imagen de perfil">
      </div>
      <h1 class="text-center">Francis Romero</h1>
      <p class="text-center">Bienvenidos, soy un estudiante de la carrera TUP en la Universidad Tecnológica Argentina, Facultad Regional de Avellaneda. Actualmente me encuentro cursando el cuarto cuatrimestre y desarrollando mi proyecto sala de juegos online.</p>
    </div>
  </div>
</section>
</body>
</html>
