body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #f0f0f0; */
}

section {
    position: relative;
    max-width: 800px;
    width: 100%;
    background-color:transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    padding: 2rem 3rem;
}

.top-right {
    position: absolute;
    top: 10px;
    right: 10px;
}

.section-buttons button {
    padding: 5px; /* Reduce el relleno del botón */
    width: 50px; /* Ajusta el ancho del botón */
    height: 50px; /* Ajusta la altura del botón */
    border-radius: 50%; /* Hace que el botón tenga forma circular */
}

.section-buttons p {
    font-size: 12px; /* Ajusta el tamaño de la fuente de la descripción */
    text-align: center; /* Centra la descripción debajo del botón */
    display: flex;
    justify-content:center; /* Distribuye los elementos de manera uniforme */
    margin-top: 20px;
}

.section-buttons .button-item {
    text-align: center; /* Centra los botones e imágenes */
}

.section-buttons img {
    width: 50px; /* Establece el ancho deseado para todas las imágenes */
    height: 50px; /* Establece la altura deseada para todas las imágenes */
}


.button-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-item button {
    background-color: transparent;
    border: none;
    padding: 0;
}

.game-cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .game-card {
    flex: 0 1 calc(10% - 5px); /* Ajusta el tamaño según tus necesidades */
    margin: 10px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    text-align: center;
    background-color: #f7f7f7;
    text-decoration: none; /* Elimina el subrayado del enlace */
    cursor: pointer;
    transition: background-color 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .game-card:hover {
    background-color: #e0e0e0;
  }
  
  .game-avatar {
    max-width: 250px; /* Ajusta el tamaño de la imagen */
    margin-bottom: 10px;
  }
  
  .game-title {
    font-size: 18px;
    font-weight: bold;
  }

  
  .button-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-item button {
    background-color: transparent;
    border: none;
    padding: 0;
}
  