<div class="game-cards">
  <a routerLink="/juegos/ahorcado" class="game-card">
    <img src="assets/img/ahorcado.png" alt="Avatar" class="game-avatar" />
    <div class="game-title">Ahorcado</div>
  </a>
  <a routerLink="/juegos/mayormenor" class="game-card">
    <img src="assets/img/high.png" alt="Avatar" class="game-avatar" />
    <div class="game-title">Mayor o Menor</div>
  </a>
  <a routerLink="/juegos/preguntados" class="game-card">
    <img src="assets/img/preguntados.png" alt="Avatar" class="game-avatar" />
    <div class="game-title">Preguntados</div>
  </a>
  <a routerLink="/juegos/serpiente" class="game-card">
    <img src="assets/img/snake.png" alt="Avatar" class="game-avatar" />
    <div class="game-title">Serpiente</div>
  </a>
</div>
