<app-barranav></app-barranav>

<div class="container" >
    <div
    class="card text-center mt-4 text-light bg-dark cardContainer"
    *ngIf="usuario"
  >
    <div class="card-header">SALA DE CHAT</div>
  
    <div class="card-body contendedorMensajes h-100" #chatContainer>
      <div
        *ngFor="let dato of mensajes"
        class="msj p-2" >
        <div class="mensaje-container p-2"
        [ngClass]="(usuario.uid === dato.uid) ? 'enviado' : 'recibido'">
         <div class="mensaje">{{ dato.mensaje }}</div>
         <div class="info">
          <span class="email">{{ dato.email }}</span> -
          <span class="fecha">{{ dato.fechaHorario | date: 'dd/MM/yyyy HH:mm' }}</span>
         </div>
       </div>
      </div>
    </div>
  
    <form class="card-footer text-muted input-group" (ngSubmit)="enviarMensaje()">
      <input
        type="text"
        class="form-control"
        placeholder="Ingrese su mensaje"
        [(ngModel)]="mensajeNuevo.mensaje"
        [ngModelOptions]="{ standalone: true }"
        name="texto"
        required
      />
      <div class="input-group-append">
        <button type="submit" class="input-group-text m-2" id="basic-addon2">
          <img
            class="imgEnviar"
            width="24"
            height="24"
            src="assets/img/enviar-mensaje.png"
            alt="sent"
          />
        </button>
      </div>
    </form>
  </div>
  </div>
  
  