<div class="container">
  <div>
    <h3>Puntaje: {{ puntaje }}</h3>
    <h3>Categoria: {{ categoria }}</h3>
    <h3>Tiempo restante: {{ time }}</h3>
  </div>
  <div>
    <h2 [innerHTML]="decodeHtml(pregunta!)">{{ pregunta }}</h2>
  </div>
  <div *ngFor="let opcion of opciones">
    <div>
      <button
        [innerHTML]="decodeHtml(opcion)"
        type="button"
        (click)="comprobar(opcion)"
      >
        {{ opcion }}
      </button>
    </div>
  </div>
  <div>
    <img src="assets/img/pjsPreguntados.png" />
  </div>
</div>
