<section class="vh-100 gradient-custom">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-dark text-white" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">
            <form [formGroup]="formulario">
              <div class="mb-md-5 mt-md-4 pb-5">
                <h2 class="fw-bold mb-2 text-uppercase">Iniciar Sesión</h2>
                <p class="text-white-50 mb-5">Por favor ingrese su correo y contraseña</p>

                <div data-mdb-input-init class="form-outline form-white mb-4">
                  <input formControlName="email" type="email"  class="form-control form-control-lg" name="email" />
                  <label class="form-label" for="typeEmailX">Email</label>
                  <div>
                    @if (this.formulario.controls['email'].touched  && this.formulario.controls['email'].invalid) {

                      @if (manejadorErrores['email'].errors?.['required']) {

                        <span style="color: red;">Email requerido</span>
                      }
                      @if (manejadorErrores['email'].errors?.['pattern']) {

                        <span style="color: red;">Email debe ser valido</span>
                      }
                    }
                  </div>
                </div>

                <div data-mdb-input-init class="form-outline form-white mb-4">
                  <input formControlName="password" type="password"  class="form-control form-control-lg" name="password" />
                  <label class="form-label" for="typePasswordX">Contraseña</label>
                  <div>
                    @if(this.formulario.controls['password'].touched  && this.formulario.controls['password'].invalid){

                      @if (manejadorErrores['password'].errors?.['required']) {

                        <span style="color: red;">Contraseña requerida</span>
                      }
                    }
                  </div>
                </div>

                <button data-mdb-button-init data-mdb-ripple-init class="btn btn-outline-light btn-lg px-5" id="btnLogin" (click)="btnLogin()" type="submit">INGRESAR</button>
                <hr>
              <!--  <button data-mdb-button-init data-mdb-ripple-init class="btn btn-outline-light btn-lg px-5" id="btnCompletarDatos" (click)="btnCompletarDatos()" type="submit">COMPLETAR CAMPOS</button> -->

                <div>
                  <!-- Enlace para "Registrarse" -->
                  <p class="text-white-50 mt-3"> ¿No tienes cuenta? <a routerLink='/registro'>Regístrate aquí</a></p>
                </div>
                <button type="submit" (click)="autoLogin()" class="btn btn-primary">Acceso rapido</button>
                <!-- Mensaje de usuario existente -->
              <div *ngIf="isLoggedIn">
              ¡Bienvenido {{ this.formulario.value.email }}!
              </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
