<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sala de juegos</title>
  <!-- Bootstrap CSS -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Inicio</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <!-- USUARIO SIN CONEXION, MUESTRA BOTONES -->
      <ng-container *ngIf="(usuarioConectado | async) === null">
        <li class="nav-item">
          <a class="nav-link active" routerLink="/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="/registro">Registrarse</a>
        </li>
      </ng-container>

      <!-- BIOGRAFIA -->
      <li class="nav-item">
        <a class="nav-link active" routerLink="/quiensoy">¿Quién soy?</a>
      </li>
      <li class="nav-item">
        <span *ngIf="mostrarChat" class="nav-link active" routerLink="/chat">Chat</span>
      </li>
    </ul>
    
    <!-- MOSTRAR CORREO DEL USUARIO -->
  <ng-container *ngIf="correoUsuario">
    <ul class="navbar-nav">
      <li class="nav-item">
       <!-- MOSTRAR CORREO DEL USUARIO -->
      <span *ngIf="mostrarCorreo" class="nav-link">Correo: {{ correoUsuario }}</span>
      </li>
    </ul>
  </ng-container>
    
    <!-- CERRAR SESION -->
    <form *ngIf="usuarioConectado | async as user" class="form-inline my-2 my-lg-0">
      <button class="btn btn-outline-danger my-2 my-sm-0" type="submit" (click)="logout()">Cerrar Sesión</button>
    </form>
  </div>
</nav>

<!-- jQuery, Popper.js, Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>